{% extends "bootstrap/base.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dt_admin.css') }}">
    <link rel="icon" href="https://thedonstrust.org/files/cropped-Dons-Trust-Logo-web-1-32x32.png" sizes="32x32" />
    <style>@media print{a[href]:after{content:none}}</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}Dons Trust Membership Admin{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
    <ul class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}" style="margin: -15px -15px;">
                <img src="{{ url_for('static', filename='images/Dons Trust Logo.png') }}"
                     style="display: inline-block;"/>
                <span style="display: inline-block;">DT admin</span>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Members<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if current_user.has_write_access() %}
                        <li><a href="{{ url_for('members') }}">Quick find/edit members</a></li>
                        <li><a href="{{ url_for('edit_or_view_member', member_number=0) }}">Add new member</a></li>
                        <li><a href="{{ url_for('bulk_update') }}">Bulk update</a></li>
                    {% else %}
                        <li><a href="{{ url_for('members') }}">Quick find members</a></li>
                    {% endif %}
                </ul>
            <li>
            {% if current_user.has_access(UserRole.extract) %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extracts<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if current_user.is_access(UserRole.jd_admin) %}
                            <li><a href="{{ url_for('extracts_juniors') }}">Junior Comms</a></li>
                            <li><a href="{{ url_for('extracts_junior_birthdays') }}">Juniors (birthday)</a></li>
                        {% else %}
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="nav-label">Standard (regular)</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('extracts_email_senior') }}">Email - Seniors</a></li>
                                    <li><a href="{{ url_for('extracts_email_junior') }}">Email - Juniors</a></li>
                                    <li><a href="{{ url_for('extracts_comms') }}">Comms - all</a></li>
                                    <li><a href="{{ url_for('extracts_juniors') }}">Comms - Juniors</a></li>
                                    <li><a href="{{ url_for('extracts_junior_birthdays') }}">Juniors birthday list</a></li>
                                    <li><a href="{{ url_for('extracts_region_report') }}">Regions report</a></li>
                                    <li><a href="{{ url_for('extracts_district_report') }}">Regions report</a></li>
                                    <li><a href="{{ url_for('extracts_for_afcw') }}">For AFCW</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if current_user.has_access(UserRole.admin) %}
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="nav-label">Standard (annual)</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('extracts_cards_all') }}">Cards - new membership year</a></li>
                                    <li><a href="{{ url_for('extracts_renewals') }}">Renewal notices</a></li>
                                    <li><a href="{{ url_for('extracts_debits') }}">Debits</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li><a href="{{ url_for('extracts_custom') }}">Custom</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if current_user.has_access(UserRole.admin) %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="nav-label">New member packs</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('show_actions', type='cert_std') }}">Standard Adults</a></li>
                                <li><a href="{{ url_for('show_actions', type='cert_plus') }}">Plus Adults</a></li>
                                <li><a href="{{ url_for('show_actions', type='cert_junior') }}">Juniors</a></li>
                                <li><a href="{{ url_for('show_actions', type='cert_junior_voter') }}">Junior (voters)</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('show_actions', type='card') }}">Renewal cards</a></li>
                        <li><a href="{{ url_for('show_actions', type='other') }}">Other</a></li>
                        <li><a href="{{ url_for('show_actions', type='renewal') }}">Pending Renewals</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if current_user.has_access(UserRole.super) %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Super<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('backup') }}">Backup</a></li>
                        <li><a href="{{ url_for('restore') }}">Restore</a></li>
                        <li><a href="{{ url_for('renew_recent_joiners') }}">Renew Recent Joiners</a></li>
                        <li><a href="{{ url_for('renew_recent_resumers') }}">Renew Recent Resumers</a></li>
                        <li><a href="{{ url_for('report_paid_cc') }}">Report Paid Members (cc)</a></li>
                        <li><a href="{{ url_for('report_paid_dd') }}">Report Paid Members (dd)</a></li>
                        <li><a href="{{ url_for('renew_paid_cc') }}">Renew Paid Members (cc)</a></li>
                        <li><a href="{{ url_for('renew_paid_dd') }}">Renew Paid Members (dd)</a></li>
                        <li><a href="{{ url_for('change_member_type_by_age') }}">Update To New Age Groups</a></li>
                        <li><a href="{{ url_for('lapse_expired') }}">Lapse expired members</a></li>
                        <li><a href="{{ url_for('season_tickets') }}">Update season ticket holders</a></li>
                        <li><a href="{{ url_for('set_region') }}">Set Region for UK members</a></li>
                        <li><a href="{{ url_for('extracts_debits_for_ptx') }}">Debits for PTX</a></li>
                        <li><a href="{{ url_for('show_help', subject='technical') }}">Technical documentation</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Help<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('show_help', subject='members') }}">Members</a></li>
                    <li><a href="{{ url_for('show_help', subject='extracts') }}">Extracts</a></li>
                    <li><a href="{{ url_for('show_help', subject='actions') }}">Actions</a></li>
                    <li><a href="{{ url_for('show_help', subject='user_roles') }}">User roles</a></li>
                </ul>
            </li>
            {% if current_user.has_access(UserRole.super) %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Test<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('test_email') }}">Email</a></li>
                        <li><a href="{{ url_for('test_password', password='test') }}">Password</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if not current_user.is_anonymous %}
            <li>
                <a href="{{ url_for('user_logout') }}">Logout</a>
            </li>
            {% endif %}
        </ul>
        <h5 class="right inverted">{{ current_user.role.name }}</h5>
        </div>
    </ul>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% macro render_field(field) %}
{{ field(**kwargs)|safe }}
{% if field.errors %}
{% for error in field.errors %}
<span style="color: red;">{{ error }}</span>
{% endfor %}
{% endif %}
{% endmacro %}
