{% extends "admin_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<head>
    <title>Dons Trust membership Diversity Monitoring Form</title>
</head>
<body>
<h2>Dons Trust membership Diversity Monitoring Form</h2>
The Dons Trust is committed to being as inclusive as possible, and to reflect the diverse community in our fanbase and
the wider community.
<p>To help us with this, we first need to better understand the current make up of our membership. By completing this short
monitoring form (six areas), you will help us identify what measures we need to put in place to better support, to grow
our membership and to make it as representative as possible of our fanbase and wider community.
<p>The information you provide will:
<ul>
    <li>Inform our equality, diversity and inclusion improvement work
    <li>enable us to track membership through from eg Junior Don to Student membership to full membership and through from
adult to senior memberships
    <li>be used by the Dons Trust to monitor and review its membership
    <li>understand where there may be gaps and where specific marketing or interventions would be appropriate
</ul>
The form should only take a couple of minutes to complete, and you can select “prefer not to say” if you would rather
not answer any question.
<p>Thank you in advance for your support in enabling us to capture this data.
<hr>
<form method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {% if form.parental_consent %}
        <h4>Parental Consent</h4>
        <i>{{ form.parental_consent.description }}</i>
        {{ form.parental_consent }}
        <p>
    {% endif %}
    <h4>1. Gender</h4>
    <i>{{ form.gender.description }}</i>
    {{ form.gender }} {{ form.gender_other.label }} {{ form.gender_other }}
    <p>
    <i>{{ form.gender_identify.description }}</i>
    {{ form.gender_identify }}
    <p>
    <h4>2. Disability</h4>
    <i>{{ form.disability.description }}</i>
    {{ form.disability }}
    <p>
    <i>{{ form.disability_type.description }}</i>
    {{ form.disability_type(style="list-style-type: none;") }}
    {{ form.disability_type_other.label }} {{ form.disability_type_other }}
    <p>
    <i>{{ form.impairment.description }}</i>
    {{ form.impairment }}
    <p>
   <h4>3. Marital Status</h4>
    <i>{{ form.marital_status.description }}</i>
    {{ form.marital_status }}
    <p>
    <h4>4. Ethnicity</h4>
    <i>{{ form.ethnicity.description }}</i>
    <br>
    {{ form.ethnicity }}
    {{ form.ethnicity_other.label }} {{ form.ethnicity_other }}
    <p>
    <h4>5. Sexual Orientation</h4>
    <i>{{ form.sexual_orientation.description }}</i>
    {{ form.sexual_orientation }}
    <p>
    <h4>6. Religion or Belief</h4>
    <i>{{ form.religion.description }}</i>
    {{ form.religion }}
    {{ form.religion_other.label }} {{ form.religion_other }}
    <p>
    <h4>7. Employment</h4>
    <i>{{ form.employment.description }}</i>
    <br>
    {{ form.employment }}
    {{ form.employment_other.label }} {{ form.employment_other }}
    <p>

    {{ form.submit(class="btn btn-primary", value="Save") }} Press Save to save your answers
</form>
<style>
 label { font-weight: 200; }
</style>
{% endblock %}



