{% extends "admin_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<form method="POST">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dt_admin.css') }}">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <h4 class="left">{{ form.total.data }} results found</h4>
    <h5 class="right">
        <a class='btn' href="{{ form.bulk_update_url }}">Bulk update ...</a>
        <a href="{{ form.first_url }}"><span class="glyphicon">&#xe069;</span></a>
        {% if form.prev_url %}
            <a href="{{ form.prev_url }}"><span class="glyphicon">&#xe251;</span></a>
        {% endif %}
         page {{ form.current_page.data }} of {{ form.total_pages.data }}
        {% if form.next_url %}
            <a href="{{ form.next_url }}"><span class="glyphicon">&#xe250;</span></a>
        {% endif %}
        <a href="{{ form.last_url }}"><span class="glyphicon">&#xe077;</span></a>
    </h5>
    <div class="scroll left">
        <table width="100%" class="scroll, table">
            <thead>
            <tr>
                <th>Details</th>
                {% for field in fields %}
                    <th>{{ field[0] }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    <td align="center">
                        {{ render_link(
                            url=url_for('edit_member', member_number=get_attr(row, 'number')),
                            image=url_for('static', filename='images/right-arrow.png'),
                            text='View/Edit member details'
                        )|safe }}
                    </td>
                {% for field in fields %}
                    <td>{{ get_attr(row, field[1]) }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}