{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<form method="POST">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dt_admin.css') }}">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <h2>Results</h2>
    {{ form.total.data }} results found. Showing page {{ form.current_page.data }}
    {% if form.prev_url %}
        <a href="{{ form.prev_url }}">Previous page</a>
    {% endif %}
    {% if form.next_url %}
        <a href="{{ form.next_url }}">Next page</a>
    {% endif %}
    <div class="scroll">
        <table width="100%" class="scroll, table">
            <thead>
            <tr>
                {% for field in fields %}
                    <th>{{ field[0] }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                {% for field in fields %}
                    <td>{{ get_attr(row, field[1]) }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}