{% extends "admin_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Dons Trust admin home</h1>
    <div class="table-responsive col-md-4">
        <table>
            <tr>
                <td colspan="4"><h3>Membership</h3></td>
            </tr>
            <tr>
                <td>{{ form.total.label }}</td>
                <td>{{ form.total.data }} (Voter: {{ form.voters.data }})</td>
            </tr>
            <tr>
                <td>{{ form.adults.label }}</td>
                <td>{{ form.adults.data }} (Life: {{ form.life_adults.data }}, DT plus: {{ form.plus_standard.data }})</td>
            </tr>
            <tr>
                <td>{{ form.concessions.label }}</td>
                <td>{{ form.concessions.data }} (DT plus: {{ form.plus_concession.data }})</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.seniors.label }}</td>
                <td>{{ form.seniors.data }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.students.label }}</td>
                <td>{{ form.students.data }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.job_seekers.label }}</td>
                <td>{{ form.job_seekers.data }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.incapacity.label }}</td>
                <td>{{ form.incapacity.data }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.honorary.label }}</td>
                <td>{{ form.honorary.data }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.others.label }}</td>
                <td>{{ form.others.data }}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{ form.young_adults.label }}</td>
                <td>{{ form.young_adults.data }} (DT plus: {{ form.plus_young_adult.data }})</td>
            </tr>
            <tr>
                <td>{{ form.juniors.label }}</td>
                <td>{{ form.juniors.data }} (Life: {{ form.life_juniors.data }})</td>
            </tr>
        </table>
    </div>
    <div class="table-responsive col-md-4">
        <table>
            <tr>
                <td colspan="4"><h3>Payment Methods</h3></td>
            </tr>
            <tr>
                <td>{{ form.cc.label }}</td>
                <td>{{ form.cc.data }}</td>
            </tr>
            <tr>
                <td>{{ form.dd.label }}</td>
                <td>{{ form.dd.data }}</td>
            </tr>
            <tr>
                <td>{{ form.chq.label }}</td>
                <td>{{ form.chq.data }}</td>
            </tr>
            <tr>
                <td>{{ form.cash.label }}</td>
                <td>{{ form.cash.data }}</td>
            </tr>
            <tr>
                <td>{{ form.other_payment.label }}</td>
                <td>{{ form.other_payment.data }}</td>
            </tr>
            <tr>
                <td colspan="4"><h3>Open Actions</h3></td>
            </tr>
            <tr>
                <td>{{ form.cert.label }}</td>
                <td>{{ form.cert.data }}</td>
            </tr>
            <tr>
                <td>{{ form.card.label }}</td>
                <td>{{ form.card.data }}</td>
            </tr>
            <tr>
                <td>{{ form.other_action.label }}</td>
                <td>{{ form.other_action.data }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}