{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h1>Dons Trust member login</h1>
    {% if not form.hidden_number.data %}
        <p><i>Give just the numeric part of your membership number e.g. for DT0-00123 enter 123</i></p>
    {% endif %}
    <p><i>Give your email address and post code as currently held by the Dons Trust</i></p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table>
        <tr>
            <td>{{ form.number.label }}</td>
            <td>{{ form.number(size=32) }}</td>
            {% for error in form.number.errors %}
                <td><span style="color: red;">[{{ error }}]</span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.email.label }}</td>
            <td>{{ form.email(size=40) }}</td>
            {% for error in form.email.errors %}
                <td><span style="color: red;">[{{ error }}]</span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.post_code.label }}</td>
            <td>{{ form.post_code(size=32) }}</td>
            {% for error in form.post_code.errors %}
                <td><span style="color: red;">[{{ error }}]</span></td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.remember_me.label }}</td>
            <td>{{ form.remember_me() }}</td>
        </tr>
        </table>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
<h3>Not a member?</h3>
<a href="https://thedonstrust.org/join-the-trust/">You can join the Dons Trust online here</a>
{% endblock %}