{% extends "admin_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h2>Details for {{ form.dt_number.data }} {{ form.full_name.data }}</h2>
</div>
<form method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.dt_number.label }}</td>
            <td>{{ form.dt_number.data }}</td>
            <td>{{ form.status.label }}</td>
            <td>{{ form.status }}</td>
            <td>{{ form.type.label }}</td>
            <td>{{ form.type }}</td>
        </tr>
        <tr>
            <td>{{ form.start_date.label }}</td>
            <td>{{ form.start_date }}</td>
            <td>{{ form.end_date.label }}</td>
            <td>{{ form.end_date }}</td>
            <td>{{ form.birth_date.label }}</td>
            <td>{{ form.birth_date }}{%if form.age.data != None %} ({{ form.age.data }}){% endif %}</td>
        </tr>
    </table>
    <table>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td>{{ form.payment_method.label }}</td>
            <td>{{ form.payment_method }}</td>
            <td>{{ form.external_access.label }}</td>
            <td>{{ form.external_access }}</td>
            <td>{{ form.last_updated.label }}</td>
            <td>{{ form.last_updated.data }}</td>
        </tr>
    </table>
    <hr/>
    <table>
        <tr>
            <td>{{ form.title.label }} </td>
            <td>{{ form.title(size='1') }}</td>
            <td>{{ form.first_name.label }} </td>
            <td>{{ form.first_name(size='15', required='required') }}</td>
            <td>{{ form.last_name.label }} </td>
            <td>{{ form.last_name(size='20', required='required') }}</td>
            <td>{{ form.sex.label }} </td>
            <td>{{ form.sex(size='1') }}</td>
        </tr>
    </table>
    <hr/>
    <table>
        <tr>
            <td>{{ form.line1.label }}</td>
            <td colspan=5>{{ form.line1(size='60', required='required') }}</td>
        </tr>
        <tr>
            <td>{{ form.line2.label }}</td>
            <td colspan=5>{{ form.line2(size='60') }}</td>
        </tr>
        <tr>
            <td>{{ form.line3.label }}</td>
            <td colspan=5>{{ form.line3(size='60') }}</td>
        </tr>
        <tr>
            <td>{{ form.city.label }}</td>
            <td>{{ form.city(size='20') }}</td>
            <td>{{ form.state.label }}</td>
            <td>{{ form.state(size='4') }}</td>
        </tr>
        <tr>
            <td>{{ form.post_code.label }}</td>
            <td>{{ form.post_code(size='10') }}</td>
            <td>{{ form.county.label }}</td>
            <td>{{ form.county(size='20') }}</td>
        </tr>
        <tr>
            <td>{{ form.country.label }}</td>
<!--            <td>{{ form.country(size='1') }}</td>-->
            <td>{{ form.country(size='20') }}</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td>{{ form.home_phone.label }}</td>
            <td>{{ form.home_phone(size='20') }}</td>
            <td>{{ form.mobile_phone.label }}</td>
            <td>{{ form.mobile_phone(size='20') }}</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    </table>
    <table>
        <tr>
            <td>{{ form.email.label }}</td>
            <td>{{ form.email(size='40') }}</td>
            <td>{{ form.comms.label }}</td>
            <td>{{ form.comms(required='required') }}</td>
            <td>{{ form.comms_status.label }}</td>
            <td>{{ form.comms_status(required='required') }}</td>
        </tr>
        {% if form.jd_email %}
            <tr>
                <td>{{ form.jd_email.label }}</td>
                <td>{{ form.jd_email(size='40') }}</td>
                <td>{{ form.jd_gift.label }}</td>
                <td>{{ form.jd_gift }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
    </table>
    <hr/>
    <h4><a data-toggle="collapse" href="#payments" aria-expanded="false" aria-controls="payments">Payments</a></h4>
    <div class="collapse" id="payments">
    <table>
        <thead>
        <tr>
            <th>date</th>
            <th>type</th>
            <th>amount</th>
            <th>method</th>
            <th>comment</th>
        </tr>
        <tbody>
        {% for item in form.payment_list %}
        <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.pay_type }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.method }}</td>
            <td>{{ item.comment(size="40") }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <hr/>
    <h4><a data-toggle="collapse" href="#actions" aria-expanded="false" aria-controls="actions">Actions</a></h4>
    <div class="collapse" id="actions">
    <table>
        <thead>
        <tr>
            <th>date</th>
            <th>action</th>
            <th>comment</th>
            <th>status</th>
        </tr>
        <tbody>
        {% for item in form.action_list %}
        <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.action }}</td>
            <td>{{ item.comment(size="40") }}</td>
            <td>{{ item.status }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <hr/>
    <h4><a data-toggle="collapse" href="#comments" aria-expanded="false" aria-controls="comments">Comments</a></h4>
    <div class="collapse" id="comments">
    <table>
        <thead>
        <tr>
            <th>date</th>
            <th>comment</th>
        </tr>
        <tbody>
        {% for item in form.comment_list %}
        <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.comment(size="80") }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% if current_user.has_access(UserRole.admin) %}
        <p><br>{{ form.submit(class="btn btn-primary") }}</p>
    {% endif %}


</form>
{% endblock %}