{% extends "renewal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<body>
{% if member_status == 'life' %}
    <h3>Update Acknowledgement {{ dt_number}} </h3>
    <p>Thank you for updating your details</p>
{% else %}
    <h3>Renewal Acknowledgement {{ dt_number}} </h3>
    <p>Thank you for activating your renewal.</p>
    <p>
    {% if payment_method == 'dd' %}
        {% if dues > 0 %}
            As you pay by Direct Debit, we will collect £{{ dues }} on 11th September.
            Provided the payment is successful, we will update your membership and send a new membership card.
        {% elif dues < 0 %}
            As you recently renewed, there is no additional charge.
        {% else %}
            As a recent joiner, we will not take a renewal payment by Direct Debit this year.
        {% endif %}
        <p><b>Membership Renewal Type</b>&nbsp;{{ renewal_type }}</p>
        <p><b>Amount to be debited</b>&nbsp;£{{ dues }}</p>

    {% else %}
        <p><b>Membership Renewal Type</b>&nbsp;{{ renewal_type }}</p>
        <p><b>Amount due</b> £{{ dues }}</p>
        {% if dues > 0 %}
            When you make your payment, please provide your membership number and renewal type with the payment.
            Once we have received the payment, we will update your membership and send a new membership card.
        {% elif dues < 0 %}
            As you recently renewed, there is no additional charge.
        {% else %}
            As a recent joiner, you do not need to make a renewal payment this year.
        {% endif %}
    {% endif %}
    </p>
{% endif %}
</body>
{% endblock %}