{% extends "renewal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<body>
<h3>Pay your Dons Trust subscription by PayPal or Credit/Debit card</h3>
<p>The ideal way to renew or upgrade your membership if you don't have a UK bank account, or don't live in
    the UK. You can either:</p>
<ol>
    <li>Use your personal PayPal account if you have one, or</li>
    <li>To pay by credit or debit card, follow the 'Check Out as a Guest' or 'Pay by Debit or Credit Card' button after
        hitting the 'Buy Now' button.
    </li>
</ol>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="SCTEANB2E5JSC">
    <table>
        <tr>
            <td><input type="hidden" name="on0" value="Dons Trust Membership">Dons Trust Membership</td>
            <td><select name="os0">
                <option value="{{ pp_name }}">{{ pp_value }}</option>
                <!--                <option value="Concession">Concession £10.00 GBP</option>-->
                <!--                <option value="Junior Dons new">Junior Dons new £10.00 GBP</option>-->
                <!--                <option value="Junior Dons renewal">Junior Dons renewal £5.00 GBP</option>-->
                <!--                <option value="Dons Trust Plus Adult">Dons Trust Plus (Adult) £45.00 GBP</option>-->
                <!--                <option value="Dons Trust Plus Concession">Dons Trust Plus (Concession) £30.00 GBP</option>-->
                <!--                <option value="Dons Trust Plus upgrade Adult">Dons Trust Plus - upgrade Adult £20.00 GBP</option>-->
                <!--                <option value="Dons Trust Plus upgrade Concession">Dons Trust Plus - upgrade Concession £20.00 GBP</option>-->
            </select></td>
        </tr>
        <tr>
            <td><input type="hidden" name="on1" value="Please specify concession type">Concession type (if applicable)
            </td>
            <td><input type="text" name="os1" maxlength="200" value="{{ concession_type }}"></td>
        </tr>
        <tr>
            <td><input type="hidden" name="on2" value="New or Renewal">New or Renewal</td>
            <td><input type="text" name="os2" maxlength="20", value="renewal"></td>
        </tr>
        <tr>
            <td><input type="hidden" name="on3" value="DT Member Number">DT member number (if renewal)</td>
            <td><input type="text" name="os3" maxlength="20", value="{{ dt_number }}"></td>
        </tr>
        <hr/>
        <tr>
            <td></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0"
                       name="submit"
                       alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </td>
        </tr>
    </table>
    <hr/>
    Once you have paid, we will notify you when your membership has been updated.
    Please allow a few days for this as we will be processing many renewals during this period.
</form>
</body>
{% endblock %}